// custom styles
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

a.link-external {
  color: rgb(var(--v-theme-primary));
  text-decoration: none; /* Remove the default underline */
  font-weight: bold; /* Make the link text bold */
  border-radius: 4px; /* Round the corners */
  transition:
    background-color 0.3s ease,
    color 0.3s ease; /* Smooth transition for background and color */

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgb(var(--v-theme-primary)); /* Add a focus ring for accessibility */
  }
}

.app-container {
  max-width: 1200px !important;
}
